<!DOCTYPE html>
<html lang="en">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<title>StartMyTest</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Custom CSS -->
<link href="https://dl.dropboxusercontent.com/spa/0cc22uwk8niobo3/StartMyTest/public/css/waccount.css" rel="stylesheet"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://dl.dropboxusercontent.com/spa/0cc22uwk8niobo3/StartMyTest/public/css/animate-custom.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/bootstrap.min.css"/>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">

  {% include 'navigation.html' %}

<!-- ==== HEADERWRAP ==== -->
    <div class="container">


        <div class="row performance">
            <div class="col-md-4 my-tests">
{#                <h2>Weekly Quiz</h2>#}
{#                <b> Subscription End Date :</b> {% if subscription.end_date == None %} You have not activated {% else %}{{ subscription.end_date|date:"M d, Y" }} {% endif %}#}
            <b> Test Credits Remaining :</b> {% if subscription.end_date == None %} Not Activated {% else %}{{ subscription.attempts_remaining }} {% endif %}
                <div class="row week-quiz">
                    <div class="quiz-head">
                        Quiz Period : {{ question_data.startDate|date:"M d, Y" }} - {{ question_data.endDate|date:"M d, Y" }}
                    </div>
                    <div class="quiz-description">
                        <h3>Weekly Quiz</h3>
                        <h4 id="sample" style="color: red">Click here for sample test </h4>
                    </div>
                {% if question_active %}

                    {% if is_active %}

                            <div class="quiz-attempt" id="attempt">
                            Attempt Now

                            </div>

                        {% else %}
                    <div class="quiz-subscribe">
                        Subscribe Now
                    </div>
                    {% endif %}

                {% else %}
                    <div class="question-not-active">
                        Quiz For This Week Not Updated
                    </div>
                {% endif %}

                </div>
            </div>


            <div class="col-md-8 ">
{#                <h2>Weekly Quiz</h2>#}
                <b> Your Performance</b>

                {% if marks_data %}
                    <canvas id="myChart" width="100" height="170"></canvas>

                    {% else %}
                     Attempt test to generate performance graph.
                {% endif %}

            </div>



        </div>

    <div class="col-md-4 package-details">
        <h3> SCHEDULE </h3>

        <div class="schedule">
            Quiz 1: Civil Service<br>
            21/06/2016 - 22/09/2016
        </div>

        <div class="schedule">
            Quiz 1: Civil Service<br>
            21/06/2016 - 22/09/2016
        </div>

        <div class="schedule">
            Quiz 1: Civil Service<br>
            21/06/2016 - 22/09/2016
        </div>

        <div class="schedule">
            Quiz 1: Civil Service<br>
            21/06/2016 - 22/09/2016
        </div>





    </div>

    <div class="col-md-offset-1 col-md-3 package-details">
        <h3> PACKAGES </h3>
        <div>
            <span class="package-amount">
                Rs.199
            </span>
            <br>
            <span> For Two(2) Test Credits.</span>
        </div>

        <br><br>


        <div>
            <span class="package-amount">
                Rs.299
            </span>
                <br>
            <span> For Four(4) Test Credits.</span>
            <br> <br> 
            Contact  :<b> 9446113911 </b>  for more information
        </div>



    </div>

    <div class="col-md-offset-1 col-md-3 package-details">
        <h3> PAYMENT ADDRESS </h3>
        <p>Deposit/Online Transfer</p>
            <b>Account Name:</b><br> M/S Walk With a Civil Servant<br>
            <b>Account Number :</b><br> 48032200018939<br>
            Bank : SYNDICATE BANK <br>
            Branch : KOZHENCHERRY <br>
            IFSC Code: SYNB0004803<br>
            WWCS Phone : 9446113911


    </div>





    </div>
    



  <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-md-8"> <span class="copyright">Copyright &copy; 2015 StartMyTest. <a href="http://www.startmytest.com/terms" rel="nofollow">Terms and Conditions</a></span> </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
  <script type="text/javascript" src="https://dl.dropboxusercontent.com/spa/0cc22uwk8niobo3/StartMyTest/public/js/modernizr.custom.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://dl.dropboxusercontent.com/spa/0cc22uwk8niobo3/StartMyTest/public/js/retina.js"></script>
  <script type="text/javascript" src="https://dl.dropboxusercontent.com/spa/0cc22uwk8niobo3/StartMyTest/public/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="https://dl.dropboxusercontent.com/spa/0cc22uwk8niobo3/StartMyTest/public/js/smoothscroll.js"></script>
  <script type="text/javascript" src="https://dl.dropboxusercontent.com/spa/0cc22uwk8niobo3/StartMyTest/public/js/jquery-func.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js"></script>
   <script src="//cdn.jsdelivr.net/alertifyjs/1.6.1/alertify.min.js"></script>

    <script>

        $('#sample').click(function(){
            alertify.confirm('Are you sure to proceed?', 'This is a sample test. Please subscribe for taking more tests.' +
                    '  <br><br> This test contains <b> 25 Questions </b>. One marks for each correct answer and negative 0.25 for' +
                    'each incorrect answer. Total time for test is 5 Minutes. Test will be automatically submitted when timer expires.' +
                    ' <br><br> Please note that, test once attempted cannot ' +
                    're-attempted.', function()
                    {window.location.href = "/sample/";}
                , function(){ alertify.error('Cancel')});
        });

        {% if attempted %}

            $('#attempt').click(function(){
            alertify.confirm('You have already attempted this test', ' You have already attempted the test. Click <b> Ok </b> to view the result. ' +
                    'Kindly check the test schedule given below to know more information about the next ' +
                    'test date. ', function()
                    {window.location.href = "/attempt/";}
                , function(){ alertify.error('Cancel')});
        });

        {% else %}
        $('#attempt').click(function(){
            alertify.confirm('Are you sure to proceed?', 'Welcome to WWCS tests series. You have<b> {{ subscription.attempts_remaining }} Test Credits </b> remaining. Your Test Credits decrease by one after attempting this test. Please subscribe for more Test Credits.' +
                    '  <br><br> This test contains <b> 25 Questions </b>. One marks for each correct answer and negative 0.25 for' +
                    'each incorrect answer. Total time for test is 30 Minutes. Test will be automatically submitted when timer expires.' +
                    ' <br><br> Please note that, test once attempted cannot ' +
                    're-attempted.', function()
                    {window.location.href = "/attempt/";}
                , function(){ alertify.error('Cancel')});
        });

        {% endif %}


    var current = 0;
        $('.quiz-subscribe').click(function(){
            var current = $(this);
            alertify.prompt('Enter your voucher code and click ok', '',
                   function(evt, value)
                   {
                       $.ajax
                       ({
                            type: "POST",
                            url: "/vpay/",
                            data:
                            {
                                'voucher_code_input': value,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                           dataType: "json",
                            success: function(response)
                            {
{#                                alertify.message('Status: ' + response.message);#}
                                if(response.status == 'success')
                                {
                                    alert('Activation Success, Your account credited with test credits');
                                    current.parent().replaceWith('<div class="voucher-success" id="attempt"> Attempt Now</div>');
                                    window.location.href = "/home/";
                                }

                                else
                                {
                                     alertify.error(response.message);
                                }

                            },
                            error: function(rs, e) {
                                alertify.error(rs.responseText);

                             }
                       });
{#                       alertify.message('You entered: ' + product_code);#}
                   }
            );
        });


    alertify.defaults = {
        // dialogs defaults
        modal:true,
        basic:false,
        frameless:false,
        movable:true,
        moveBounded:false,
        resizable:true,
        closable:true,
        closableByDimmer:true,
        maximizable:true,
        startMaximized:false,
        pinnable:true,
        pinned:true,
        padding: true,
        overflow:true,
        maintainFocus:true,
        transition:'pulse',
        autoReset:true,

        // notifier defaults
        notifier:{
            // auto-dismiss wait time (in seconds)
            delay:5,
            // default position
            position:'bottom-right'
        },

        // language resources
        glossary:{
            // dialogs default title
            title:'Activate',
            // ok button text
            ok: 'OK',
            // cancel button text
            cancel: 'CANCEL'
        },

        // theme settings
        theme:{
            // class name attached to prompt dialog input textbox.
            input:'ajs-input',
            // class name attached to ok button
            ok:'ajs-ok',
            // class name attached to cancel button
            cancel:'ajs-cancel'
        }
    };
        
       
    </script>


  <script>
var ctx = document.getElementById("myChart");

var data = {
    labels: [{% for items in user_marks %} "{{ items.questionSetID }}",{% endfor %}],
    datasets: [
        {
            label: "Marks obtained by {{ name }}",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [{% for items in user_marks %} {{ items.marksObtained }},{% endfor %}],
        }
    ]
};

var options = {

    ///Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines : true,

    //String - Colour of the grid lines
    scaleGridLineColor : "rgba(0,0,0,.05)",

    //Number - Width of the grid lines
    scaleGridLineWidth : 1,

    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,

    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,

    //Boolean - Whether the line is curved between points
    bezierCurve : false,

    //Number - Tension of the bezier curve between points
    bezierCurveTension : 0.4,

    //Boolean - Whether to show a dot for each point
    pointDot : true,

    //Number - Radius of each point dot in pixels
    pointDotRadius : 4,

    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth : 1,

    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius : 20,

    //Boolean - Whether to show a stroke for datasets
    datasetStroke : true,

    //Number - Pixel width of dataset stroke
    datasetStrokeWidth : 2,

    //Boolean - Whether to fill the dataset with a colour
    datasetFill : true,

    //String - A legend template
{#    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",#}

    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",

    // Boolean - whether or not the chart should be responsive and resize when the browser does.

	responsive: true,

	// Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container

	maintainAspectRatio: false

};

var myLineChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
});


</script>

<style>

    .voucher-success
    {
        background-color: cadetblue;
        color: white;
        min-height: 50px;
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
    }

    .quiz-subscribe
    {
        background-color: cadetblue;
        color: gold;
        min-height: 50px;
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
    }

    .quiz-head
    {
        font-size: 20px;
    }

    .performance
    {
        min-height: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .package-details
    {
        background-color: white;
        min-height: 300px;
        max-height: 300px;
        margin-bottom: 20px;
        text-align: center;
        background-color: #2c3e50;
        color: white;
    }
    .package-details h3
    {
        background-color: cadetblue;
        color: white;
        text-align: center;
    }

    .my-tests
    {
        min-height: 0px;
    }

    .schedule
    {
        background-color: #D8D8D8;
        color: black;
        margin-bottom: 10px;
    }

    .package-amount
    {
        font-size: 25px;
    }
</style>
    

</body>
</html>
