<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<p> Total Number of registered users :{{ total_users }} </p>
<p> Total Number of active subscribers :{{ active_subscriptions }} </p>
<p> Total Number of 15 days vouchers :{{ voucher_15 }} </p>
<p> Total Number of 15 days vouchers activated :{{ voucher_15_active }} </p>
<p> Total Number of 30 days vouchers :{{ voucher_30 }} </p>
<p> Total Number of 30 days vouchers activated :{{ voucher_30_active }} </p>
</body>
</html>